In [7]:
import pandas as pd

# Load the datasets
employment_2019 = pd.read_csv('dataset/Punesimi-2019.csv')
employment_2020 = pd.read_csv('dataset/Punesimi-2020.csv')
employment_2021 = pd.read_csv('dataset/Punesimi-2021.csv')
employment_2022 = pd.read_csv('dataset/Punesimi-2022.csv')
employment_2023 = pd.read_csv('dataset/Punesimi-2023.csv')

In [8]:
# Combine the datasets
employment_combined = pd.concat([employment_2019, employment_2020, employment_2021, employment_2022, employment_2023], ignore_index=True)

In [9]:
employment_combined.head(5)

,Viti Godina Year,Muaji \nMesec\nMonth,PERSHKRIMI I SEKTORIT\nOPIS SEKTORA\nSECTOR DESCRIPTION,Statusi i regjistrimit \nStatus registracije Registration status,Komuna Opstina Municipality,Nr Tatimp \nPoreski obveznik \nNumber of Taxpayers,Nr Puns\nBroj zaposlenih \nNumber of employees,Primar Primarna Primary,Sekondar Sekundarna Secondary,Meshkuj\nMuskarci \nMen (M).,...,M 45-54,F 45-54,M 55-64,F 55-64,M 65+,F 65+,Mesat. Pages\nProsecna plata\nAverage Wage,Mesat. Meshk \nProsecni M.\nAverage M.,Mesat. Fem.\nProsecni F. Average F.,Unnamed: 3
0,2019,1,Ndertimtaria,SH.P.K.,PRISHTINË,359,3649,"3,455",194,2803,...,497,115,276,32,40,4,411.43,424.33,357.40,NaN
1,2019,1,Ndertimtaria,Individual,SKENDERAJ,15,118,111,7,103,...,8,3,7,3,0,0,269.59,274.26,242.53,NaN
2,2019,1,Mungon aktiviteti,Individual,VITI,1,1,1,0,0,...,0,0,0,0,0,0,170.00,NaN,170.00,NaN
3,2019,1,Industria nxjerrese,SH.P.K.,PODUJEVË,2,8,8,0,8,...,0,0,1,0,0,0,177.50,177.50,NaN,NaN
4,2019,1,Industria perpunuese,Individual,SHTIME,27,84,84,0,67,...,5,1,3,0,0,0,229.40,234.57,210.61,NaN

In [11]:
# Translate column names to English
column_translations = {
    'Viti Godina Year': 'Year',
    'Muaji \nMesec\nMonth': 'Month',
    'PERSHKRIMI I SEKTORIT\nOPIS SEKTORA\nSECTOR DESCRIPTION': 'Sector Description',
    'Statusi i regjistrimit \nStatus registracije Registration status': 'Registration Status',
    'Komuna Opstina Municipality': 'Municipality',
    'Nr Tatimp \nPoreski obveznik \nNumber of Taxpayers': 'Number of Taxpayers',
    'Nr Puns\nBroj zaposlenih \nNumber of  employees': 'Number of Employees',
    'Primar Primarna Primary': 'Primary Sector',
    'Sekondar Sekundarna Secondary': 'Secondary Sector',
    'Meshkuj\nMuskarci \nMen (M).': 'Men',
    'Femra\nZenske\nWomen (F)': 'Women',
    'Mesat. Pages\nProsecna plata\nAverage Wage': 'Average Wage',
    'Mesat. Meshk \nProsecni M.\nAverage M.': 'Average Wage Men',
    'Mesat. Fem.\nProsecni F. Average F.': 'Average Wage Women'
}
employment_translated = employment_combined.rename(columns=column_translations).loc[:, list(column_translations.values())]

employment_translated.head(5)

,Year,Month,Sector Description,Registration Status,Municipality,Number of Taxpayers,Number of Employees,Primary Sector,Secondary Sector,Men,Women,Average Wage,Average Wage Men,Average Wage Women
0,2019,1,Ndertimtaria,SH.P.K.,PRISHTINË,359,3649,"3,455",194,2803,646,411.43,424.33,357.40
1,2019,1,Ndertimtaria,Individual,SKENDERAJ,15,118,111,7,103,14,269.59,274.26,242.53
2,2019,1,Mungon aktiviteti,Individual,VITI,1,1,1,0,0,1,170.00,NaN,170.00
3,2019,1,Industria nxjerrese,SH.P.K.,PODUJEVË,2,8,8,0,8,0,177.50,177.50,NaN
4,2019,1,Industria perpunuese,Individual,SHTIME,27,84,84,0,67,16,229.40,234.57,210.61

In [12]:
# Perform the requested analysis with updated column names

# 1. Tipet e të dhënave (Data Types)
data_types = employment_translated.dtypes

# 2. Kualiteti i të dhënave (Data Quality)
data_quality = employment_translated.describe(include='all')

# 3. Numri i të dhënave të plota (Number of Complete Data Points)
complete_data_count = employment_translated.count()

# 4. Numri i të dhënave null (Number of Missing Data Points)
null_data_count = employment_translated.isnull().sum()

data_types, data_quality, complete_data_count, null_data_count

(Year                     int64
 Month                    int64
 Sector Description      object
 Registration Status     object
 Municipality            object
 Number of Taxpayers      int64
 Number of Employees      int64
 Primary Sector          object
 Secondary Sector        object
 Men                      int64
 Women                    int64
 Average Wage           float64
 Average Wage Men       float64
 Average Wage Women     float64
 dtype: object,
                 Year         Month             Sector Description  \
 count   88014.000000  88014.000000                          88014
 unique           NaN           NaN                             23
 top              NaN           NaN  Aktivitetet e tjera sherbyese
 freq             NaN           NaN                           7135
 mean     2021.015157      6.534892                            NaN
 std         1.413184      3.449341                            NaN
 min      2019.000000      1.000000                            NaN
 25%      2020.000000      4.000000                            NaN
 50%      2021.000000      7.000000                            NaN
 75%      2022.000000     10.000000                            NaN
 max      2023.000000     12.000000                            NaN

        Registration Status Municipality  Number of Taxpayers  \
 count                88014        88014         88014.000000
 unique                  30           38                  NaN
 top                SH.P.K.    PRISHTINË                  NaN
 freq                 30107         8667                  NaN
 mean                   NaN          NaN            23.808871
 std                    NaN          NaN            84.046527
 min                    NaN          NaN             1.000000
 25%                    NaN          NaN             1.000000
 50%                    NaN          NaN             4.000000
 75%                    NaN          NaN            15.000000
 max                    NaN          NaN          2309.000000

         Number of Employees Primary Sector Secondary Sector            Men  \
 count          88014.000000          88014            88014   88014.000000
 unique                  NaN           2904              656            NaN
 top                     NaN              1                0            NaN
 freq                    NaN           6972            37709            NaN
 mean             240.279751            NaN              NaN     152.743529
 std             2403.375432            NaN              NaN    1386.246279
 min                1.000000            NaN              NaN       0.000000
 25%                5.000000            NaN              NaN       3.000000
 50%               21.000000            NaN              NaN      13.000000
 75%               90.000000            NaN              NaN      58.000000
 max           175145.000000            NaN              NaN  117894.000000

                Women  Average Wage  Average Wage Men  Average Wage Women
 count   88014.000000  87389.000000      83914.000000        73917.000000
 unique           NaN           NaN               NaN                 NaN
 top              NaN           NaN               NaN                 NaN
 freq             NaN           NaN               NaN                 NaN
 mean       85.730020    367.563505        379.123829          332.864686
 std      1022.441219    321.043286        319.390062          260.770437
 min         0.000000      0.010000          0.010000            0.010000
 25%         1.000000    213.780000        215.790000          203.670000
 50%         6.000000    285.220000        295.625000          267.440000
 75%        26.000000    408.690000        428.570000          369.080000
 max     56461.000000  20584.300000      19436.250000        13391.770000  ,
 Year                   88014
 Month                  88014
 Sector Description     88014
 Registration Status    88014
 Municipality           88014
 Number of Taxpayers    88014
 Number of Employees    88014
 Primary Sector         88014
 Secondary Sector       88014
 Men                    88014
 Women                  88014
 Average Wage           87389
 Average Wage Men       83914
 Average Wage Women     73917
 dtype: int64,
 Year                       0
 Month                      0
 Sector Description         0
 Registration Status        0
 Municipality               0
 Number of Taxpayers        0
 Number of Employees        0
 Primary Sector             0
 Secondary Sector           0
 Men                        0
 Women                      0
 Average Wage             625
 Average Wage Men        4100
 Average Wage Women     14097
 dtype: int64)

In [17]:
# Fill missing numeric values with the median
for column in ['Average Wage', 'Average Wage Men', 'Average Wage Women']:
    employment_translated[column] = employment_translated[column].fillna(employment_translated[column].median())

# Create binary columns for UnderAverage Wage Men and UnderAverage Wage Women
employment_translated['UnderAverage Wage Men'] = (employment_translated['Average Wage Men'] < employment_translated['Average Wage']).astype(int)
employment_translated['UnderAverage Wage Women'] = (employment_translated['Average Wage Women'] < employment_translated['Average Wage']).astype(int)

/Users/swisscode/Documents/testing-lab/temp/employment-salary-prediction/.venv/lib/python3.12/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/var/folders/91/5zdb07k96l7ggq4r0hnf34rm0000gn/T/ipykernel_72188/3044587703.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  employment_translated[column].fillna(employment_translated[column].median(), inplace=True)
/var/folders/91/5zdb07k96l7ggq4r0hnf34rm0000gn/T/ipykernel_72188/3044587703.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  employment_translated[column].fillna(employment_translated[column].median(), inplace=True)
/Users/swisscode/Documents/testing-lab/temp/employment-salary-prediction/.venv/lib/python3.12/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/var/folders/91/5zdb07k96l7ggq4r0hnf34rm0000gn/T/ipykernel_72188/3044587703.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  employment_translated[column].fillna(employment_translated[column].median(), inplace=True)
/var/folders/91/5zdb07k96l7ggq4r0hnf34rm0000gn/T/ipykernel_72188/3044587703.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  employment_translated[column].fillna(employment_translated[column].median(), inplace=True)
/Users/swisscode/Documents/testing-lab/temp/employment-salary-prediction/.venv/lib/python3.12/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/var/folders/91/5zdb07k96l7ggq4r0hnf34rm0000gn/T/ipykernel_72188/3044587703.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  employment_translated[column].fillna(employment_translated[column].median(), inplace=True)
/var/folders/91/5zdb07k96l7ggq4r0hnf34rm0000gn/T/ipykernel_72188/3044587703.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  employment_translated[column].fillna(employment_translated[column].median(), inplace=True)