In [3]:
import pandas as pd

# Load the datasets
employment_2019 = pd.read_csv('dataset/Punesimi-2019.csv')
employment_2020 = pd.read_csv('dataset/Punesimi-2020.csv')
employment_2021 = pd.read_csv('dataset/Punesimi-2021.csv')
employment_2022 = pd.read_csv('dataset/Punesimi-2022.csv')
employment_2023 = pd.read_csv('dataset/Punesimi-2023.csv')

In [4]:
# Combine the datasets
employment_combined = pd.concat([employment_2019, employment_2020, employment_2021, employment_2022, employment_2023], ignore_index=True)

In [5]:
employment_combined.head(5)

,Viti Godina Year,Muaji \nMesec\nMonth,PERSHKRIMI I SEKTORIT\nOPIS SEKTORA\nSECTOR DESCRIPTION,Statusi i regjistrimit \nStatus registracije Registration status,Komuna Opstina Municipality,Nr Tatimp \nPoreski obveznik \nNumber of Taxpayers,Nr Puns\nBroj zaposlenih \nNumber of employees,Primar Primarna Primary,Sekondar Sekundarna Secondary,Meshkuj\nMuskarci \nMen (M).,...,M 45-54,F 45-54,M 55-64,F 55-64,M 65+,F 65+,Mesat. Pages\nProsecna plata\nAverage Wage,Mesat. Meshk \nProsecni M.\nAverage M.,Mesat. Fem.\nProsecni F. Average F.,Unnamed: 3
0,2019,1,Ndertimtaria,SH.P.K.,PRISHTINË,359,3649,"3,455",194,2803,...,497,115,276,32,40,4,411.43,424.33,357.40,NaN
1,2019,1,Ndertimtaria,Individual,SKENDERAJ,15,118,111,7,103,...,8,3,7,3,0,0,269.59,274.26,242.53,NaN
2,2019,1,Mungon aktiviteti,Individual,VITI,1,1,1,0,0,...,0,0,0,0,0,0,170.00,NaN,170.00,NaN
3,2019,1,Industria nxjerrese,SH.P.K.,PODUJEVË,2,8,8,0,8,...,0,0,1,0,0,0,177.50,177.50,NaN,NaN
4,2019,1,Industria perpunuese,Individual,SHTIME,27,84,84,0,67,...,5,1,3,0,0,0,229.40,234.57,210.61,NaN

In [6]:
# Translate column names to English
column_translations = {
    'Viti Godina Year': 'Year',
    'Muaji \nMesec\nMonth': 'Month',
    'PERSHKRIMI I SEKTORIT\nOPIS SEKTORA\nSECTOR DESCRIPTION': 'Sector Description',
    'Statusi i regjistrimit \nStatus registracije Registration status': 'Registration Status',
    'Komuna Opstina Municipality': 'Municipality',
    'Nr Tatimp \nPoreski obveznik \nNumber of Taxpayers': 'Number of Taxpayers',
    'Nr Puns\nBroj zaposlenih \nNumber of  employees': 'Number of Employees',
    'Primar Primarna Primary': 'Primary Sector',
    'Sekondar Sekundarna Secondary': 'Secondary Sector',
    'Meshkuj\nMuskarci \nMen (M).': 'Men',
    'Femra\nZenske\nWomen (F)': 'Women',
    'Mesat. Pages\nProsecna plata\nAverage Wage': 'Average Wage',
    'Mesat. Meshk \nProsecni M.\nAverage M.': 'Average Wage Men',
    'Mesat. Fem.\nProsecni F. Average F.': 'Average Wage Women'
}
employment_translated = employment_combined.rename(columns=column_translations).loc[:, list(column_translations.values())]

employment_translated.head(5)

,Year,Month,Sector Description,Registration Status,Municipality,Number of Taxpayers,Number of Employees,Primary Sector,Secondary Sector,Men,Women,Average Wage,Average Wage Men,Average Wage Women
0,2019,1,Ndertimtaria,SH.P.K.,PRISHTINË,359,3649,"3,455",194,2803,646,411.43,424.33,357.40
1,2019,1,Ndertimtaria,Individual,SKENDERAJ,15,118,111,7,103,14,269.59,274.26,242.53
2,2019,1,Mungon aktiviteti,Individual,VITI,1,1,1,0,0,1,170.00,NaN,170.00
3,2019,1,Industria nxjerrese,SH.P.K.,PODUJEVË,2,8,8,0,8,0,177.50,177.50,NaN
4,2019,1,Industria perpunuese,Individual,SHTIME,27,84,84,0,67,16,229.40,234.57,210.61